:root {
  --core-white: #ffffff;
  --core-black: #000000;
  --content-content-primary: #09090b;
  --content-content-secondary: #71717a;
  --content-content-tertiary: #a1a1aa;
  --content-content-inverse-primary: #ffffff;
  --content-content-inverse-secondary: #a1a1aa;
  --content-content-inverse-tertiary: #71717a;
  --content-extensions-content-red: #b91c1c;
  --content-extensions-content-orange: #c2410c;
  --content-extensions-content-yellow: #a16207;
  --content-extensions-content-amber: #b45309;
  --content-extensions-content-lime: #4d7c0f;
  --content-extensions-content-emerald: #047857;
  --content-extensions-content-green: #15803d;
  --content-extensions-content-teal: #0f766e;
  --content-extensions-content-cyan: #0e7490;
  --content-extensions-content-sky: #0369a1;
  --content-extensions-content-blue: #1d4ed8;
  --content-extensions-content-indigo: #4338ca;
  --content-extensions-content-violet: #6d28d9;
  --content-extensions-content-purple: #7e22ce;
  --content-extensions-content-fuchsia: #a21caf;
  --content-extensions-content-pink: #be185d;
  --content-extensions-content-rose: #be123c;
  --content-extensions-content-zinc: #3f3f46;
  --border-border-primary: #d4d4d8;
  --border-border-secondary: #e4e4e7;
  --border-border-tertiary: #f4f4f5;
  --border-border-inverse-primary: #3f3f46;
  --border-border-inverse-secondary: #27272a;
  --border-border-inverse-tertiary: #09090b;
  --border-border-hover-overlay: #00000033;
  --border-border-inverse-hover-overlay: #ffffff1a;
  --border-extensions-border-error: #ef4444;
  --border-extensions-border-warning: #f59e0b;
  --border-extensions-border-success: #22c55e;
  --border-extensions-border-info: #3b82f6;
  --background-background-primary: #ffffff;
  --background-background-secondary: #fafafa;
  --background-background-tertiary: #f4f4f5;
  --background-background-inverse-primary: #18181b;
  --background-background-inverse-secondary: #27272a;
  --background-background-inverse-tertiary: #52525b;
  --background-background-hover-overlay: #00000008;
  --background-background-inverse-hover-overlay: #ffffff0d;
  --background-extensions-background-zinc: #e4e4e7;
  --background-extensions-background-red: #fee2e2;
  --background-extensions-background-orange: #ffedd5;
  --background-extensions-background-yellow: #fef9c3;
  --background-extensions-background-amber: #fef3c7;
  --background-extensions-background-lime: #ecfccb;
  --background-extensions-background-emerald: #d1fae5;
  --background-extensions-background-teal: #ccfbf1;
  --background-extensions-background-cyan: #cffafe;
  --background-extensions-background-sky: #e0f2fe;
  --background-extensions-background-blue: #dbeafe;
  --background-extensions-background-indigo: #e0e7ff;
  --background-extensions-background-violet: #ede9fe;
  --background-extensions-background-purple: #f3e8ff;
  --background-extensions-background-fuchsia: #fae8ff;
  --background-extensions-background-pink: #fce7f3;
  --background-extensions-background-rose: #ffe4e6;
  --background-extensions-background-green: #dcfce7;
  --background-background-hover: #3b82f6;
}
